/* Main body formatting */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0 0 0 0;
    line-height: 1.8;
    min-height: 100%;

}

.section-purple {
    background-image: url(assets/gradient-violet-bg.jpeg);
    background-size: cover;
    min-height: auto;

}
.fas {
    margin-top: 18px;
}

.menu-bar {
    background: transparent;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    
}

#main-logo {
    height: 90%;
    order: 1;
    margin-top:17px;
    margin-right: auto;
    transition: transform 300ms ease;
    

}

.logo-div {
    width: 0px;
    margin-right: auto;
}
#main-logo:hover {
    cursor:pointer;
    transform: scale(1.1);
    
}

nav {
    order: 2;
    margin-top: 18px;
    display: flex;
}
.menu-item {
    margin:8px 0px 8px 40px;
    font-size: 17px;
    cursor: pointer;
    text-align: right;
 
}

nav a{
    text-align: center;
    margin: .25em;
    padding: .25em;
    text-decoration: none;

}

button {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    box-sizing:content-box;
    background-clip: padding-box;
    transition: border 300ms ease;

}
#nav-button {
    order: 3;
    margin-top: 28px;
    background-color: transparent;
    border: solid 1px white;
    left: auto;
    height: 27px;
    margin-left: 40px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 1.5px;
    transition: border 300ms ease;



}
#nav-button:hover {
    border-color: white;

}

/* laptop image with text */
.center {
    background-color: transparent;
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 140px;
    padding-bottom: 110px;
    text-align: center;
    position: relative;
}

#center-image {
    max-width: 70%;
    margin-bottom: 0px 0px 30px;

}

.center-text1 {
    color: white;
    font-size: 48px;
    font-weight:500;
    margin-top: 15px;
    font-weight: 500;
    text-align: center; 
       
}

.center-text2 {
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    line-height: 1.4;
}

#center-button {
    border: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: #fe9000;
    font-size: 18px;
    line-height: 44px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.44px;
    height: 46px;
    width: 215px;
    margin-top: 20px;
    color: white;

}

#center-button:hover{
    cursor: pointer;
    border-color: #fe9000;
    
}

a {
    color: white;
    text-decoration: none;

}

/* Featured in section */

.featured {
    background-color: white;
    padding-top: 110px;
    padding-bottom: 110px;
    
}
.featured-text {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #434146;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.featured-grid {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.grid-item {
    width: 200px;
    height: auto;
    
}

#quote {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    line-height: 1.8px;
    color: #434146;


}

.section-teal {
    background-image: url(assets/green-bg.jpeg);
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 110px;
    align-items: center;
    text-align: center;
    max-height: 604px;


}
#paragraph {
    max-width: 640px;
    margin-bottom: 30px;
}
